body {
    padding-top: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    margin: 10px 0px;
    font-size: 18pt;
}

h3 {
    font-size: 12pt;
}

div.content {
    padding: 40px 15px;
    text-align: center;
}

div#uploader {
    padding: 10px 40%;
}
div.thumb img {
    padding: 5px;
    border: 2px solid #ddd;
}
div.thumb img:hover {
    border: 2px solid #aaa;
}

div.text {
    margin: 0px 10%;
    text-align: left;
}
div.figure {
    float: left;
    margin: 0px 10px;
}

img.figure {
    width: 200px;    
}
.hidden {
    display: none;
}